.container

  %h2 Log in

  .row
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .col-md-5.col-md-offset-1
        .field
          = f.label :email
          %br/
          = f.email_field :email
        .field
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "off"
        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :remember_me
        .actions
          = f.submit "Log in"
          = render "devise/shared/links"

      .col-md-5
        %h3
          Or sign in using:
          = link_to "Facebook", user_omniauth_authorize_path(:facebook)
