.page-header
  %h1= board_game.name
%ul
  - reviews.each do |r|
    %li= r.content
    %ul
      - r.comments.each do |c|
        %li= c.content
    = render 'comments/form', review: r
  = render 'reviews/form'
